/*You can add a few classes to specific P tags if you want, but try to keep it to a minimum!*/
.verse1 {
  color: #000044;
}

.verse2 {
  color: #004400;
}

.refrain1 {
  color: #88FF00;
}

.refrain2 {
  color: #AAFF00;
  font-family: "Comic Sans";
}

.r1line1 {
  color: black;
}
